.ETitle{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
}
.ETitle h2{
    font-size: 18px;
    font-weight: bold;
}
.template{
    width: 90%;
    margin: 20px auto 0;
    border: 5px solid #F9F9F9;
    border-radius: 10px;
}
.template h3{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}
.template > p{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 10px;
}
.templateMain{
    display: flex;
}
.templateMain > div{
    width: 50%;
    margin-top: 20px;
}
.beside{
    width: 110px;
    height: 70px;
    border: 1px solid #131621;
    border-radius: 5px;
    margin: 0 auto;
}

.vertical{
    width: 70px;
    height: 110px;
    border: 1px solid #131621;
    border-radius: 5px;
    margin: 0 auto;
}
.templateMain > div > div{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.templateMain > div > p{
    width: 130px;
    height: 30px;
    margin: 16px auto 15px;
    background: #4F96EA;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
}
.templateMain > div > p a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 30px;
}
.templateMain > div > p a:hover{
    background: #417DC3;
}

.upload{
    width: 90%;
    margin: 20px auto 0;
    border: 5px solid #F9F9F9;
    border-radius: 10px;
}
.upload h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}
.upload > p{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 10px;
}
.file{
    width: 90%;
    height: 120px;
    margin: 30px auto 25px;
    background: #F9F9F9;
    border-radius: 10px;
}
.file > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
input[type="file"]{
    display: none;
}